<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="page-title">
    <h1><?php echo $this->__('Contribution Payment cancelled') ?></h1>
</div>
<div class="payment_methods">
    <?php echo $this->__('Contribution is cancelled. Please search again and contribute others.')?>
</div>