<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $contribution = $this->getCollection(); ?>
<div class="page-title">
    <h1><?php echo $this->__('My Contribution') ?></h1>
</div>
<div class="wallet_balance">
<?php
$customerData = Mage::getSingleton('customer/session')->getCustomer();
$wallet = Mage::getModel('contribution/wallet')->getCollection()->addFieldToFilter("user_id",$customerData->getId())->getData();

echo 'Wallet Balance : '. Mage::helper('core')->currency($wallet[0]['amount']);
?>

</div>
<?php echo $this->getPagerHtml(); ?>
<?php if($contribution->getSize()): ?>
<table class="data-table orders" id="my-redeem-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
           
            <th class="date"><?php echo $this->__('Date') ?></th>
            <th class="ship"><?php echo $this->__('Paid To') ?></th>
           <th class="total"><span class="nobr"><?php echo $this->__('Amount') ?></span></th>
        </tr>
    </thead>
    <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($contribution as $citem): ?>
        <tr>
            
            <td class="date"><span class="nobr"><?php echo $this->formatDate($citem->getCdate()) ?></span></td>
            <td class="ship"><?php $customerData = Mage::getModel('customer/customer')->load($citem->getContributedTo() )->getData(); echo $customerData['firstname']." ".$customerData['lastname']; ?></td>
            <td class="total"><?php echo Mage::helper('core')->currency($citem->getAmount()) ?></td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('my-redeem-table');</script>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('You have no contribution'); ?></p>
<?php endif ?>


