<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $collection = $this->getCollection();

?>
<div class="page-title">
    <h1><?php echo $this->__('Wishlist') ?></h1>
</div>
<?php if($collection->getSize()): ?>
<div class="contribute" style="float:right;"><input type="button" onclick="location.href='<?php echo Mage::getUrl("contribution/index/pay/",array("id"=>$this->getRequest()->getParam("id")));?>'" value="Pay & Contribute"> </div>
<?php endif ?>
<?php echo $this->getPagerHtml(); ?>
<?php if($collection->getSize()): ?>

    <div class="user_wishlist">
        <?php $_odd = ''; ?>
        <?php foreach ($collection as $_obj): ?>
        <div class="wishlist_block">
            <div><?php echo $_obj->getName() ?></div>
            <div><span class="nobr"><?php echo $_obj->getTitle(); ?></span></div>
            <div><?php echo $_obj->getPrice() ?></div>
            <div>
               <?php  $item = Mage::getModel('catalog/product')->setStoreId($_obj->getStoreId())->load($_obj->getProductId());
          if ($item->getId()) :
          ?>
          <img src="<?php echo Mage::helper('catalog/image')->init($item, 'small_image')->resize(113, 113); ?>" width="113" height="113" />
          <?php
          endif; 
          ?>
            </div>
        </div>
        <?php endforeach; ?>
   
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('No wishlist item found for this user.'); ?></p>
    <p>Please search now <input type="button" value="<?php echo $this->__('Search Now'); ?>" onclick="location.href='<?php echo Mage::getUrl("contribution/index/search")?>'"/></p>
<?php endif ?>