<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="page-title">
    <h1><?php echo $this->__('Contribution Payment') ?></h1>
</div>
<div class="payment_methods">
    <h2><?php echo $this->__('Please select payment method')?>:<br/></h2>
    <form method="post" id="payment" name="payment" action="" onsubmit="return validate();">
    <?php
        
       /* $active=Mage::getStoreConfig('payment/paypal_express/active');
       
        $active1=Mage::getStoreConfig('payment/authorizenet/active');
        if($active==1){
        ?>
        <input type="radio" name="payment_type" value="paypal" id="paypal"/> Paypal <br />
        <?php }if($active1==1){?>
        
        <input type="radio" name="payment_type" value="authorize" id="authorize" /> Authorize.net <br />
    <?php }*/ ?>
    
    <input type="radio" name="payment_type" value="paypal" id="paypal"/> Paypal <br />
    
    <?php 
        $customerData = Mage::getSingleton('customer/session')->getCustomer();
    ?>
    <input type="hidden" name="itemname" value="Wishlist Contribution" />
    <input type="hidden" name="user_id" value="<?php echo $customerData->getId();?>" />
    <input type="hidden" name="itemnumber" value="<?php echo $data['user_id']?>" />
    <input type="hidden" name="itemdesc" value="Contribution for <?php $data=Mage::registry('customerData'); echo $data['firstname']?>" />
    
        <ul class="form-list" id="authorize_payment_form" style="display:none;">
        <li>
        <label for=cc_type" class="required"><em>*</em><?php echo $this->__('Credit Card Type') ?></label>
        <div class="">
            <select name="card_type" id="card_type" class="validate-select">
                <option value="0">--Please Select--</option>
                <option value="AmEx" class="ccjs-amex">American Express</option>
                <option value="Discover" class="ccjs-discover">Discover</option>
                <option value="MasterCard" class="">MasterCard</option>
                <option value="Visa" class="">Visa</option>
            </select>
        </div>
        </li>
        
        <li>
        <label for="cc_number" class="required"><em>*</em><?php echo $this->__('Credit Card Number') ?></label>
        <div class="input-box">
            <input type="text" id="cc_number" value="4007000000027" name="cc_number" title="<?php echo $this->__('Credit Card Number') ?>" class="input-text required-entry" autocomplete="off" maxlength="19" value="" />
        </div>
        </li>
        
        <li id="cc_type_exp_div">
        <label for="expiration" class="required"><em>*</em><?php echo $this->__('Expiration Date') ?></label>
        <div class="">
            <div class="">
                <select id="exp_month" name="exp_month" class="validate-select">
                    <option value="0">Month</option>
                      <?php for ($i=1; $i <= 12; $i++) {
                        
                        ?>
                    <option value="<?php echo $i ?>"><?php echo $i; ?></option>
                <?php } ?>
                </select>
            </div>
            <div class="">
                <select id="exp_year" name="exp_year" class="validate-select">
                    <option value="0">Year</option>
                <?php for ($i=date("Y"); $i <= 2024; $i++) { ?>
                    <option value="<?php echo $i ?>"><?php echo $i; ?></option>
                <?php } ?>
                </select>
            </div>
        </div>
        </li>
        <li id="cc_type_cvv_div">
        <label for="cc_cid" class="required"><em>*</em><?php echo $this->__('Card Verification Number') ?></label>
        <div class="">
            <div class="">
                <input type="password" title="<?php echo $this->__('Card Verification Number') ?>" class="input-text required-entry" id="cvv" name="cvv" value="" />
            </div>
        </div>
        </li>
        
        <li><label>First Name</label>
            <div><input type="text" value="<?php echo $customerData->getFirstname();?>" name="firstname"/></div>
            
        </li>
        
        <li><label>Last Name</label>
            <div><input type="text" value="<?php echo $customerData->getLastname();?>" name="lastname"/></div>
            
        </li>
        <?php $billing= $customerData->getDefaultBillingAddress()->getData();
        //print_r($billing);
        ?>
        <li><label>Address </label>
            <div><input type="text" value="<?php echo $billing['street'];?>" name="street"/></div>
            
        </li>
        
         <li><label>State </label>
            <div><input type="text" value="<?php echo $billing['region'];?>" name="street"/></div>
            
        </li>
         
          <li><label>Zip </label>
            <div><input type="text" value="<?php echo $billing['postcode'];?>" name="zip"/></div>
            
        </li>
        
    </ul>
    
    <?php echo $this->__('Contribution Amount')?> :<input type="text" name="itemprice" id="itemprice" value="" class="input-text required-entry"/>
    <input type="hidden" name="itemQty" value="1" />
   <input type="submit" value="<?php echo $this->__('Pay Now')?>" name="submit"  />
    </form>
</div>

<script>
    jQuery("#paypal").click(function(){
        jQuery("#payment").attr("action","<?php echo Mage::getUrl("contribution/index/process") ;?>");
        });
    jQuery("#authorize").click(function(){
        jQuery("#payment").attr("action","<?php echo Mage::getUrl("contribution/index/processauth") ;?>");
        });
    
    jQuery("input:radio[name='payment_type']").click(function() {
       //alert(jQuery(this).val());
    if(jQuery(this).val()=='authorize')
    {
        jQuery('#authorize_payment_form').show();
    }
    else
    {
        jQuery('#authorize_payment_form').hide();
    }
    });
     
    function validate()
    {
        if (jQuery('input[name=payment_type]:checked').val()=='authorize')
        {
                //alert('Please enter valid amount');
                var card_type=jQuery("#card_type").val();
                var card_no=jQuery("#cc_number").val();
                var exp_month=jQuery("#exp_month").val();
                var exp_year=jQuery("#exp_year").val();
                var cvv=jQuery("#cvv").val();
                
                jQuery("#payment").attr("action","<?php echo Mage::getUrl("contribution/index/processauth") ;?>");
                
                
                if (card_type=='0')
                {
                    //jQuery("#card_type").addClass("validation-failed");
                    alert('Please enter card type');
                    return false;
                }
                //else
                //{
                //    jQuery("#card_type").removeClass("validation-failed");
                //}
                if (card_no=='')
                {
                    jQuery("#cc_number").addClass("validation-failed");
                     return false;
                }
                else
                {
                    jQuery("#cc_number").removeClass("validation-failed");
                }
                if (exp_month=='0')
                {
                    alert('Please enter expiration month');
                    //jQuery("#exp_month").addClass("validation-failed");
                     return false;
                }
                
                if (exp_year=='0')
                {
                    alert('Please enter expiration year');
                    //jQuery("#exp_year").addClass("validation-failed");
                     return false;
                }
                
                if (cvv=='')
                {
                    jQuery("#cvv").addClass("validation-failed");
                     return false;
                }
                 else
                {
                    jQuery("#cvv").removeClass("validation-failed");
                }
                
        }else if (jQuery('input[name=payment_type]:checked').val()=='paypal'){
                jQuery("#payment").attr("action","<?php echo Mage::getUrl("contribution/index/process") ;?>");
            }
            else{
                
                alert("Please select payment method");
                return false;
                }
            
            
        var price=jQuery("#itemprice").val();
        if(jQuery.isNumeric(price))
        {
            return true;
        }
        else
        {
            jQuery("#itemprice").addClass("validation-failed");
            
            return false;
        }
    }
</script>