<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="page-title">
    <h1><?php echo $this->__('Contribution Payment Success') ?></h1>
</div>
<div class="payment_methods">
    <h2><?php echo $this->__('Your payment processed succfully.')?>:<br/></h2>

</div>