<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="page-title">
    <h1><?php echo $this->__('Contribution Payment successful') ?></h1>
</div>
<div class="payment_methods">
    <?php echo $this->__('Contribution is paid successfully. Please navigate to your my account section to get details.')?>
</div>