<?php  $_order = $this->getOrder() ?>
<?php if($this->helper('rss/order')->isStatusNotificationAllow()): ?>
    <a href="<?php echo $this->helper('rss/order')->getStatusHistoryRssUrl($_order) ?>" class="link-rss f-none"><?php echo $this->__('Subscribe to Order Status') ?></a>
    <span class="separator">|</span>
<?php endif; ?>
<?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
    <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
    <span class="separator">|</span>
<?php endif ?>
<?php if ($this->helper('cancelorder/customer')->canCancel($_order)) : ?>
    <a href="javascript:void(0)" onclick="confirmcancel('<?php echo $this->getUrl('sales/order/cancel', array('order_id' => $_order->getId())) ?>')" class="link-cancel"><?php echo $this->__('Cancel') ?></a>
    <span class="separator">|</span>
<?php endif ?>
<a href="<?php echo $this->getPrintUrl($_order) ?>" class="link-print" onclick="this.target='_blank';"><?php echo $this->__('Print Order') ?></a>
<?php echo $this->getChildHtml(); ?>


<script>
    
    function confirmcancel(url){
        var a=confirm("Are you sure that you want to cancel this order?");
        if(a){
            
            window.location.href=url;
        }
        
    }
    
    </script>