<?php
/*$collection = Mage::getModel('catalog/product')->getCollection();
$collection->addFieldToFilter('visibility', Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH);
$collection->addFieldToFilter('is_featured', '1');
//echo $collection->count();*/
function getOutOfStockProducts()
{
        $products = Mage::getModel('catalog/product')
                ->getCollection()
                ->joinField(
		     'qty',
		     'cataloginventory/stock_item',
		     'qty',
		     'product_id=entity_id',
		     '{{table}}.stock_id=1',
		     'left'
		 )
		 ->addAttributeToFilter('qty', array('lteq' => 0));

        return $products;
}
$categoryIds = array(38);//category id

/*$collection = Mage::getModel('catalog/product')
                             ->getCollection()
                             ->joinField('category_id', 'catalog/category_product', 'category_id', 'product_id = entity_id', null, 'left')
                             ->addAttributeToSelect('*')
                          
                             ->addAttributeToFilter('category_id', array('in' => $categoryIds));*/

$specificCatID = '38';
$category = Mage::getModel('catalog/category')->load($specificCatID);

if ($category->getIsActive()) {
   $collection = Mage::getModel('catalog/product')
                             ->getCollection()
                             ->joinField('category_id', 'catalog/category_product', 'category_id', 'product_id = entity_id', null, 'left')
                             ->addAttributeToSelect('*')
                          
                             ->addAttributeToFilter('category_id', array('in' => $specificCatID));
}

$collection=getOutOfStockProducts();


if($collection && $collection->count() > 0){
?>

<h2>Plan Early & Save</h2>
  <div id="loading" class="please-wait" style="display: none;">
    <img alt="" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>"> <?php echo $this->__('Loading, please wait...'); ?>
</div> 
<div class="featured_products_list planearlyslider">
    
<?php
foreach ($collection as $product)
{
    $_product = Mage::getModel('catalog/product')->load($product->getId());
    ?>
   
   <div class="featured_products_item">
                        <div class="product_pic">
                            <a href="<?php echo $_product->getProductUrl() ?>">
                            <img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(210,190);?>" alt=""/>
                            <?php if($_product->getSpecialPrice()>0){ ?>
                      			<img src="<?php echo $this->getSkinUrl('images/sale.png') ?>" alt="" class="product_pic_sp" />
                      		<?php }?>
                            </a>
                        </div>
                        <h3><?php echo $_product->getName() ?></h3>
                        <!--div class="model_no"><?php echo $_product->getSku() ?></div-->
                        <div class="price"><?php echo $this->getPriceHtml($_product); ?></div>
                        
                        <div class="buttons">
                        	<a title="<?php echo $this->__('Add to Cart') ?>"  href="<?php echo $this->getAddToCartUrl($_product) ?>" class="btn1" title="<?php echo $this->__('Add to Cart') ?>"></a>
                             <?php if ($this->helper('wishlist')->isAllow()) : ?>
                            <a href="<?php echo $this->getAddToWishlistUrl($_product) ?>" class="btn2" title="<?php echo $this->__('Add to Wishlist') ?>"></a>
                             <?php endif; ?>
                             <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                            <a href="<?php echo $_compareUrl ?>" class="btn3" title="<?php echo $this->__('Add to Compare') ?>"></a>
                            <?php endif; ?>
                        </div>
                    </div>
   
     
<?php }

?>
</div>
<div class="controls">
	<div class="prev" id="prevplan">Previous</div>
    <div class="next" id="nextplan">Next</div>
</div>

<?php } ?>