@font-face {
font-family: 'OpenSansBold';
src: url('../fonts/OpenSansBold.eot');
src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
 url('../fonts/OpenSansBold.woff2') format('woff2'),
 url('../fonts/OpenSansBold.woff') format('woff'),
 url('../fonts/OpenSansBold.ttf') format('truetype'),
 url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
@font-face {
font-family: 'OpenSansBoldItalic';
src: url('../fonts/OpenSansBoldItalic.eot');
src: url('../fonts/OpenSansBoldItalic.eot') format('embedded-opentype'),
 url('../fonts/OpenSansBoldItalic.woff2') format('woff2'),
 url('../fonts/OpenSansBoldItalic.woff') format('woff'),
 url('../fonts/OpenSansBoldItalic.ttf') format('truetype'),
 url('../fonts/OpenSansBoldItalic.svg#OpenSansBoldItalic') format('svg');
}
@font-face {
font-family: 'OpenSansCondensedBold';
src: url('../fonts/OpenSansCondensedBold.eot');
src: url('../fonts/OpenSansCondensedBold.eot') format('embedded-opentype'),
 url('../fonts/OpenSansCondensedBold.woff') format('woff'),
 url('../fonts/OpenSansCondensedBold.ttf') format('truetype'),
 url('../fonts/OpenSansCondensedBold.svg#OpenSansCondensedBold') format('svg');
}
@font-face {
font-family: 'OpenSansCondensedLight';
src: url('../fonts/OpenSansCondensedLight.eot');
src: url('../fonts/OpenSansCondensedLight.eot') format('embedded-opentype'),
 url('../fonts/OpenSansCondensedLight.woff') format('woff'),
 url('../fonts/OpenSansCondensedLight.ttf') format('truetype'),
 url('../fonts/OpenSansCondensedLight.svg#OpenSansCondensedLight') format('svg');
}
@font-face {
font-family: 'OpenSansCondensedLightItalic';
src: url('../fonts/OpenSansCondensedLightItalic.eot');
src: url('../fonts/OpenSansCondensedLightItalic.eot') format('embedded-opentype'),
 url('../fonts/OpenSansCondensedLightItalic.woff') format('woff'),
 url('../fonts/OpenSansCondensedLightItalic.ttf') format('truetype'),
 url('../fonts/OpenSansCondensedLightItalic.svg#OpenSansCondensedLightItalic') format('svg');
}
@font-face {
font-family: 'OpensansExtrabold';
src: url('../fonts/OpensansExtrabold.eot');
src: url('../fonts/OpensansExtrabold.eot') format('embedded-opentype'),
 url('../fonts/OpensansExtrabold.woff') format('woff'),
 url('../fonts/OpensansExtrabold.ttf') format('truetype'),
 url('../fonts/OpensansExtrabold.svg#OpensansExtrabold') format('svg');
}
@font-face {
font-family: 'OpenSansItalic';
src: url('../fonts/OpenSansItalic.eot');
src: url('../fonts/OpenSansItalic.eot') format('embedded-opentype'),
 url('../fonts/OpenSansItalic.woff') format('woff'),
 url('../fonts/OpenSansItalic.ttf') format('truetype'),
 url('../fonts/OpenSansItalic.svg#OpenSansItalic') format('svg');
}
@font-face {
font-family: 'OpensansLight';
src: url('../fonts/OpensansLight.eot');
src: url('../fonts/OpensansLight.eot') format('embedded-opentype'),
 url('../fonts/OpensansLight.woff') format('woff'),
 url('../fonts/OpensansLight.ttf') format('truetype'),
 url('../fonts/OpensansLight.svg#OpensansLight') format('svg');
}
@font-face {
font-family: 'OpenSansRegular';
src: url('../fonts/OpenSansRegular.eot');
src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
 url('../fonts/OpenSansRegular.woff2') format('woff2'),
 url('../fonts/OpenSansRegular.woff') format('woff'),
 url('../fonts/OpenSansRegular.ttf') format('truetype'),
 url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
@font-face {
font-family: 'OpensansSemibold';
src: url('../fonts/OpensansSemibold.eot');
src: url('../fonts/OpensansSemibold.eot') format('embedded-opentype'),
 url('../fonts/OpensansSemibold.woff') format('woff'),
 url('../fonts/OpensansSemibold.ttf') format('truetype'),
 url('../fonts/OpensansSemibold.svg#OpensansSemibold') format('svg');
}
@font-face {
font-family: 'OpensansSemibolditalic';
src: url('../fonts/OpensansSemibolditalic.eot');
src: url('../fonts/OpensansSemibolditalic.eot') format('embedded-opentype'),
 url('../fonts/OpensansSemibolditalic.woff') format('woff'),
 url('../fonts/OpensansSemibolditalic.ttf') format('truetype'),
 url('../fonts/OpensansSemibolditalic.svg#OpensansSemibolditalic') format('svg');
}
@font-face {
font-family: 'LatoBlack';
src: url('../fonts/LatoBlack.eot');
src: url('../fonts/LatoBlack.eot') format('embedded-opentype'),
 url('../fonts/LatoBlack.woff') format('woff'),
 url('../fonts/LatoBlack.ttf') format('truetype'),
 url('../fonts/LatoBlack.svg#LatoBlack') format('svg');
}
@font-face {
font-family: 'LatoBlackItalic';
src: url('../fonts/LatoBlackItalic.eot');
src: url('../fonts/LatoBlackItalic.eot') format('embedded-opentype'),
 url('../fonts/LatoBlackItalic.woff') format('woff'),
 url('../fonts/LatoBlackItalic.ttf') format('truetype'),
 url('../fonts/LatoBlackItalic.svg#LatoBlackItalic') format('svg');
}
@font-face {
font-family: 'LatoBold';
src: url('../fonts/LatoBold.eot');
src: url('../fonts/LatoBold.eot') format('embedded-opentype'),
 url('../fonts/LatoBold.woff') format('woff'),
 url('../fonts/LatoBold.ttf') format('truetype'),
 url('../fonts/LatoBold.svg#LatoBold') format('svg');
}
@font-face {
font-family: 'LatoBoldItalic';
src: url('../fonts/LatoBoldItalic.eot');
src: url('../fonts/LatoBoldItalic.eot') format('embedded-opentype'),
 url('../fonts/LatoBoldItalic.woff') format('woff'),
 url('../fonts/LatoBoldItalic.ttf') format('truetype'),
 url('../fonts/LatoBoldItalic.svg#LatoBoldItalic') format('svg');
}
@font-face {
font-family: 'LatoItalic';
src: url('../fonts/LatoItalic.eot');
src: url('../fonts/LatoItalic.eot') format('embedded-opentype'),
 url('../fonts/LatoItalic.woff') format('woff'),
 url('../fonts/LatoItalic.ttf') format('truetype'),
 url('../fonts/LatoItalic.svg#LatoItalic') format('svg');
}
@font-face {
font-family: 'LatoLight';
src: url('../fonts/LatoLight.eot');
src: url('../fonts/LatoLight.eot') format('embedded-opentype'),
 url('../fonts/LatoLight.woff') format('woff'),
 url('../fonts/LatoLight.ttf') format('truetype'),
 url('../fonts/LatoLight.svg#LatoLight') format('svg');
}
@font-face {
font-family: 'LatoLightItalic';
src: url('../fonts/LatoLightItalic.eot');
src: url('../fonts/LatoLightItalic.eot') format('embedded-opentype'),
 url('../fonts/LatoLightItalic.woff') format('woff'),
 url('../fonts/LatoLightItalic.ttf') format('truetype'),
 url('../fonts/LatoLightItalic.svg#LatoLightItalic') format('svg');
}
@font-face {
font-family: 'LatoRegular';
src: url('../fonts/LatoRegular.eot');
src: url('../fonts/LatoRegular.eot') format('embedded-opentype'),
 url('../fonts/LatoRegular.woff') format('woff'),
 url('../fonts/LatoRegular.ttf') format('truetype'),
 url('../fonts/LatoRegular.svg#LatoRegular') format('svg');
}