body {
	margin: 0;
	padding: 0;
	background: url(../images/body_bg.png) fixed 0 center no-repeat;
	background-size: cover;
}
.header_top {
	width: 100%;
	float: left;
	margin: 0;
	padding: 10px 0;
	background: #f1f1f1;
	border-bottom: 1px solid #c8c8c8;
}
.header_top .container {
	position: relative;
}
.header_top_lft {
	width: 60%;
	float: left;
	margin: 0;
	padding: 3px 0 0 0;
	font-family: 'OpenSansRegular', Arial;
	font-size: 14px;
	color: #a0a0a0;
	font-style: italic;
}
.header_top_lft h1 {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	font-family: 'OpenSansRegular', Arial;
	font-size: 14px;
	color: #a0a0a0;
	font-style: italic;
}
.header_top_rgt {
	width: 40%;
	float: right;
	margin: 0;
	padding: 0;
	text-align: right;
}
.header_top_rgt button {
	background: #9c9c9c;
	border-radius: 5px;
	overflow: hidden;
	vertical-align: top;
	margin: 0 5px;
	padding: 2px 7px 3px 7px;
	display: inline-block;
	font-family: 'OpenSansSemibold', Arial;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
}
.header_top_rgt button:hover {
	background: #ff6600;
	color: #fff;
}
.header_top_rgt .cart {
	display: inline-block;
	background: url(../images/cart_icon.png) 0 0 no-repeat;
	vertical-align: top;
	padding: 0 0 0 25px;
	margin: 4px 0 0 10px;
	font-family: 'OpenSansRegular', Arial;
	font-size: 14px;
	color: #383838;
	text-transform: uppercase;
}
.header_top_rgt .cart span {
	color: #ff6600;
	font-family: 'OpenSansBold';
}
.header_top_rgt .cart a {
	color: #383838;
}
.header_bottom {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.logo {
	width: 30%;
	float: left;
	margin: 20px 0 0 0;
	padding: 0;
}
.logo img {
	max-width: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
}
.header_bottom_right {
	width: 70%;
	float: right;
	margin: 0;
	padding: 0;
}
.search {
	width: 254px;
	float: right;
	margin: 25px 0 0 0;
	padding: 0 15px;
	position: relative;
	background: #ffffff;
	border: 1px solid #b3b3b3;
	border-radius: 30px;
	/*overflow: hidden;*/
}
.search input {
	width: 100%;
	height: 34px;
	float: left;
	margin: 0;
	padding: 0;
	font-family: 'OpenSansRegular', Arial;
	font-size: 15px;
	color: #4d4c4c;
	background: none;
	border: 0;
	outline: none;
}
.search button {
	width: 30px;
	height: 30px;
	border: 0;
	position: absolute;
	right: 8px;
	top: 2px;
	background: url(../images/search_icon.png) center center no-repeat;
}
nav {
	width: 100%;
	float: left;
	margin: 20px 0 15px 0 !important;
	padding: 0 !important;
}
nav .container-fluid {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
nav .container-fluid .navbar-collapse {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
nav ul {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}
nav ul li {
	display: inline-block !important;
	float: none !important;
	margin: 0;
	padding: 0 0 0 20px;
	list-style: none;
}
nav ul li a {
	float: left;
	padding: 0 3px 4px 3px !important;
	margin: 0 !important;
	border-bottom: 2px solid transparent;
	font-family: 'OpenSansSemibold', Arial;
	font-size: 14px;
	color: #4d4c4c !important;
	text-transform: uppercase;
	font-weight: bold;
}
nav ul li a:hover {
	text-decoration: none;
	color: #ff6600;
	border-bottom: 2px solid #ff6600;
}
nav ul li a:focus {
	text-decoration: none;
	color: #ff6600;
	border-bottom: 2px solid #ff6600;
}
nav ul li.active a {
	text-decoration: none;
	color: #ff6600 !important;
	border-bottom: 2px solid #ff6600 !important;
}
nav ul li.dropdown {
	padding: 0;
	margin: 0 0 0 20px;
}
nav ul li.dropdown li {
	width: 100%;
	display: block;
	font-size: 12px;
	padding: 0;
	margin: 0;
}
nav ul li.dropdown:hover a {
	color: #ff6600 !important;
	border-bottom: 0 !important;
}
nav ul li.dropdown ul {
	border-top: 2px solid #ff6600 !important;
}
nav ul li.dropdown:hover li a {
	color: #4d4c4c !important;
}
nav ul li.dropdown li a {
	width: 100%;
	display: block;
	font-size: 12px;
	padding-left: 12px !important;
	padding-top: 5px !important;
	margin: 0;
	color: #4d4c4c !important;
}
.body_container {
	width: 100%;
	display: block;
	clear: both;
}
.cont_back {
	background: #fff;
	box-shadow: 0 -2px 5px #8b8b8b;
	padding: 0;
	margin-bottom: 50px;
}
.eventnews-index-index .cont_back {
	background: #fff;
	box-shadow: 0 -2px 5px #8b8b8b;
	padding: 0 0 15px 0;
	margin-bottom: 50px;
}
.product_cate {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.power_wear {
	width: 30%;
	height: 195px;
	float: left;
	margin: 23px 0 0 20px;
	padding: 0;
	background: #ff6600 url(../images/banner_1.png) right 0 no-repeat;
	background-size: 100% 100%;
}
.power_wear h2 {
	width: 180px;
	display: block;
	margin: 0;
	padding: 48px 0 46px 24px;
	clear: both;
	font-family: 'OpenSansExtrabold', Arial;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
}
.power_wear a {
	width: auto;
	float: left;
	padding: 0 15px 0 0;
	margin: 0 0 0 24px;
	background: url(../images/arrow.png) right 4px no-repeat;
	font-family: 'OpenSansSemibold', Arial;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
.power_parts {
	width: 30%;
	height: 195px;
	float: left;
	margin: 23px 0 0 19px;
	padding: 0;
	background: url(../images/banner_2.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.power_parts h2 {
	width: 180px;
	display: block;
	margin: 0;
	padding: 48px 0 46px 24px;
	clear: both;
	font-family: 'OpenSansExtrabold', Arial;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
}
.power_parts a {
	width: auto;
	float: left;
	padding: 0 15px 0 0;
	margin: 0 0 0 24px;
	background: url(../images/arrow.png) right 4px no-repeat;
	font-family: 'OpenSansSemibold', Arial;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
.spare_parts_kits {
	width: 30%;
	height: 195px;
	float: left;
	margin: 23px 0 0 19px;
	padding: 0;
	background: url(../images/banner_3.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.spare_parts_kits h2 {
	width: 180px;
	display: block;
	margin: 0;
	padding: 48px 0 46px 24px;
	clear: both;
	font-family: 'OpenSansExtrabold', Arial;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
}
.spare_parts_kits a {
	width: auto;
	float: left;
	padding: 0 15px 0 0;
	margin: 0 0 0 24px;
	background: url(../images/arrow.png) right 4px no-repeat;
	font-family: 'OpenSansSemibold', Arial;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}
.featured_products {
	width: 100%;
	float: left;
	margin: 0;
	padding: 30px 20px 0 20px;
	position: relative;
}
.featured_products h2 {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0 0 10px 0;
	font-family: 'OpenSansExtrabold', Arial;
	font-size: 22px;
	color: #000000;
	text-transform: uppercase;
	font-style: italic;
	border-bottom: 4px solid #ff6600;
}
.featured_products_list {
	width: 100%;
	float: left;
	margin: 0;
	padding: 30px 0 30px 0;
}
.featured_products_list .featured_products_item {
	width: 190px !important;
	height: 215px !important;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 1px solid #ffffff;
	border-right: 1px solid #c7c7c7;
}
.featured_products_list .featured_products_item:hover {
	border: 1px solid #ff6600;
}
.featured_products_list .featured_products_item .product_pic {
	width: 100%;
	height: 120px;
	line-height: 120px;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}
.featured_products_list .featured_products_item .product_pic img {
	max-width: 100%;
	max-height: 120px;
	display: inline-block;
}
.featured_products_list .featured_products_item h3 {
	width: 100%;
	float: left;
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
	font-family: 'OpenSansBold', Arial;
	font-size: 12px;
	color: #000000;
}
.featured_products_list .featured_products_item .model_no {
	width: 100%;
	float: left;
	margin: 0;
	padding: 5px 0 0 0;
	text-align: center;
	font-family: 'OpenSansSemibold', Arial;
	font-size: 12px;
	color: #6b6b6b;
}
.featured_products_list .featured_products_item .price {
	width: 44%;
	float: left;
	margin: 0;
	padding: 5px 10px 0 0;
	text-align: right;
	font-family: 'OpenSansExtrabold', Arial;
	font-size: 12px;
	color: #ff6600;
}
.featured_products_list .featured_products_item .buynow {
	width: auto;
	float: left;
	background: #ff6600;
	margin: 5px 0 0 0;
	padding: 2px 10px;
	text-align: center;
	font-family: 'OpenSansExtrabold', Arial;
	font-size: 10px;
	color: #fff;
}
.bx-viewport {
	float: left;
	height: 270px !important;
}
.bx-wrapper .bx-controls {
	width: auto;
	position: absolute;
	right: 20px;
	top: 30px;
}
.bx-wrapper .bx-controls .prev {
	width: 19px;
	height: 27px;
	float: left;
	border-right: 1px solid #cbcbcb;
	background: url(../images/prev.png) 0 0 no-repeat;
	font-size: 0;
	cursor: pointer;
}
.bx-wrapper .bx-controls .next {
	width: 19px;
	height: 27px;
	float: right;
	background: url(../images/next.png) right 0 no-repeat;
	font-size: 0;
	cursor: pointer;
}
.bx-wrapper .bx-controls .prev:hover {
	width: 19px;
	height: 27px;
	float: left;
	border-right: 1px solid #cbcbcb;
	background: url(../images/prev_active.png) 0 0 no-repeat;
	font-size: 0;
	cursor: pointer;
}
.bx-wrapper .bx-controls .next:hover {
	width: 19px;
	height: 27px;
	float: right;
	background: url(../images/next_active.png) right 0 no-repeat;
	font-size: 0;
	cursor: pointer;
}
footer {
	background: #242424;
	clear: both;
}
.footer_top {
	padding-top: 30px;
	padding-bottom: 30px;
	clear: both;
}
.footer_title {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	font-family: 'OpenSansRegular', Arial;
	font-size: 20px;
	color: #fff;
}
.site_links {
	width: 100%;
	float: left;
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;
}
.site_links li {
	width: 100%;
	float: left;
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;
}
.site_links a {
	font-family: 'OpenSansRegular', Arial;
	font-size: 14px;
	color: #989898;
	text-transform: uppercase;
}
.shopping_link {
	width: 100%;
	float: left;
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;
}
.shopping_link li {
	width: 100%;
	float: left;
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;
}
.shopping_link a {
	font-family: 'OpenSansRegular', Arial;
	font-size: 14px;
	color: #989898;
	text-transform: uppercase;
}
.cookies_details {
	width: 95%;
	float: left;
	margin: 0;
	padding: 10px 0 0 0;
	font-family: 'OpenSansRegular', Arial;
	font-size: 14px;
	color: #989898;
}
.cookies_details a {
	font-family: 'OpenSansRegular', Arial;
	font-size: 14px;
	color: #989898;
	font-weight: bold;
}
.socialize {
	padding-left: 5%;
}
.social_link {
	width: 100%;
	float: left;
	margin: 0;
	padding: 15px 0 0 0;
}
.social_link img {
	margin-right: 3px;
}
.footer_logo {
	width: 100%;
	float: left;
	margin: 0;
	padding: 15px 0 0 0;
}
.footer_logo img {
	max-width: 100%;
}
.copyright {
	width: 100%;
	display: block;
	text-align: center;
	padding: 20px 0;
	border-top: 1px solid #323232;
	font-family: 'OpenSansRegular', Arial;
	font-size: 14px;
	line-height: 30px;
	color: #989898;
}
.page-title {
	padding-left: 20px;
	padding-right: 20px;
}
.news-title {
	padding-left: 20px;
	padding-right: 20px;
}
.news-title h1 {
	border-bottom: none;
	color: #000;
	font-family: "OpenSansBold";
	font-size: 24px;
	font-weight: 600;
	margin: 0;
	padding-bottom: 3px;
	text-transform: uppercase;
}
.cms-page-view .std {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.news_events {
	display: block;
	padding: 20px;
	clear: both;
	overflow: hidden;
}
.news_events_list {
	width: 100%;
	padding: 20px 0;
	margin: 0;
	float: left;
	border-top: 1px solid #cccccc;
}
.news_events_list:first-child {
	border-top: 0;
	padding: 0 0 20px 0;
}
.news_events_list .news_pic {
	margin: 0;
	padding: 0;
}
.news_events_list .news_pic img {
	width: 100%;
}
.news_events_list .news_title {
	font-family: 'OpenSansSemibold', Arial;
	font-size: 20px;
	color: #ff6600;
	text-align: left;
}
.news_events_list .news_time {
	font-family: 'OpenSansSemibold', Arial;
	font-size: 14px;
	color: #ff6600;
	font-style: italic;
	text-align: right;
}
.news_events_list .news_details {
	font-family: 'OpenSansRegular', Arial;
	font-size: 14px;
	color: #717171;
	text-align: left;
	padding-top: 10px !important;
	padding-bottom: 20px !important;
}
.news_events_list .news_read_more button {
	width: auto;
	float: left;
	font-family: 'OpenSansRegular', Arial;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background: #ff6600;
	border: 0;
	padding: 5px 20px;
}
.newsevents {
	display: block;
	padding: 5px 20px 20px 20px;
	clear: both;
	overflow: hidden;
}
.newseventslist {
	width: 100%;
	padding: 0;
	margin: 0;
	float: left;
	border-top: 1px solid #cccccc;
}
.newseventslist:first-child {
	border-top: 0;
}
.newseventslist .newspic {
	width: 100%;
	float: left;
	margin: 0;
	padding: 20px 0 0 0;
}
.newseventslist .newspic img {
	width: 100%;
	max-height: 380px;
}
.newseventslist .newstitle {
	font-family: 'OpenSansSemibold', Arial;
	font-size: 20px;
	color: #ff6600;
	text-align: left;
}
.newseventslist .newstime {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	font-family: 'OpenSansSemibold', Arial;
	font-size: 14px;
	color: #ff6600;
	font-style: italic;
	text-align: left;
}
.newseventslist .newsdetails {
	width: 100%;
	float: left;
	padding: 30px 0 20px 0;
	margin: 0;
	font-family: 'OpenSansRegular', Arial;
	font-size: 14px;
	color: #717171;
	text-align: left;
}
.newseventslist .news_readmore button {
	width: auto;
	float: left;
	font-family: 'OpenSansRegular', Arial;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background: #ff6600;
	border: 0;
	padding: 5px 20px;
}
.store_locator_main {
	display: block;
	margin: 0;
	padding: 20px 20px 30px 20px;
	clear: both;
	overflow: hidden;
}
.store_locator_left {
	width: 25%;
	float: left;
	margin: 0;
	padding: 0;
}
.store_locator_left .std ul {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.store_locator_left .std ul li {
	width: 100%;
	float: left;
	margin: 0;
	padding: 20px 0 20px 0;
	list-style: none;
	border-bottom: 1px solid #cccccc;
	font-family: "OpenSansRegular", Arial;
	font-style: normal;
	font-size: 14px;
	color: #5b5b5b;
}
.store_locator_left .std ul li:first-child {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0 0 20px 0;
}
.store_locator_left .std ul li span {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	font-family: "OpenSansBold", Arial;
	font-style: normal;
	text-transform: uppercase;
	font-size: 16px;
	color: #ff6600;
}
.store_locator_right {
	width: 72%;
	float: right;
	margin: 0;
	padding: 0;
}
.store_locator_map {
	width: 100%;
	height: 400px;
	float: left;
	margin: 0;
	padding: 0;
}
.contact_main {
	display: block;
	margin: 0;
	padding: 20px 20px 30px 20px;
	clear: both;
	overflow: hidden;
}
.contact_left {
	width: 50%;
	float: left;
	margin: 0;
	padding: 30px 0 0 0;
}
.contact_right {
	width: 47%;
	float: right;
	margin: 0;
	padding: 0;
}
.contact_right .form-list {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.contact_right .form-list li {
	width: 100%;
	float: left;
	margin: 0;
	padding: 15px 0 0 0;
}
.contact_right .form-list li .field {
	width: 100%;
	float: left;
	margin: 0;
	padding: 15px 0 0 0;
}
.contact_right .form-list li label {
	width: 25%;
	float: left;
	margin: 0;
	padding: 0;
	font-family: "OpenSansRegular", Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #717171;
}
.contact_right .form-list li label.required:after, span.required:after {
	color: red;
	content: " *";
	font-family: "OpenSansRegular", Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
.contact_right .form-list li .input-box {
	width: 75%;
	float: left;
	margin: 0;
	padding: 0;
}
.contact_right .form-list li .input-box input[type="email"] {
	max-width: 100%;
	width: 100%;
}
.contact_right .form-list li .input-box input[type="search"] {
	max-width: 100%;
	width: 100%;
}
.contact_right .form-list li .input-box input[type="number"] {
	max-width: 100%;
	width: 100%;
}
.contact_right .form-list li .input-box input[type="password"] {
	max-width: 100%;
	width: 100%;
}
.contact_right .form-list li .input-box input[type="tel"] {
	max-width: 100%;
	width: 100%;
}
.contact_right .form-list li .input-box input[type="text"] {
	max-width: 100%;
	width: 100%;
}
.contact_right .form-list li .input-box textarea {
	box-sizing: border-box;
	max-width: 100%;
	padding: 5px;
	width: 100%;
}
.contact_right .buttons-set {
	width: 100%;
	float: left;
	border-top: 0;
	margin-left: 0;
	margin-top: 15px;
	max-width: 100%;
}
.contact_right .buttons-set label {
	width: 25%;
	height: 25px;
	float: left;
	margin: 0;
	padding: 0;
}
.contact_right .buttons-set button.button {
	float: left;
	margin-left: 0;
	min-width: 100px;
	border-radius: 5px;
	padding: 10px 0;
}
.contact_right .contact_info {
	width: 92%;
	float: right;
	margin: 20px 0 0 0;
	padding: 0;
	border-top: 1px solid #CCCCCC;
}
.contact_right .contact_info ul {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.contact_right .contact_info ul li {
	width: 100%;
	float: left;
	margin: 0;
	padding: 20px 0 20px 0;
	list-style: none;
	font-family: "OpenSansRegular", Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #5b5b5b;
}
.contact_right .contact_info ul li span {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	font-family: "OpenSansBold", Arial;
	font-style: normal;
	text-transform: uppercase;
	font-size: 16px;
	color: #5b5b5b;
}
.page_pd {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.registered-users {
	float: right !important;
	border-left: 1px solid #ededed !important;
	padding-left: 35px !important;
}
.new-users {
	float: left !important;
}
.registered-users .buttons-set .button {
	width: auto !important;
	min-width: inherit !important;
}
.registered-users .buttons-set .f-left {
	margin-right: 10px !important;
}
.new-users .buttons-set .button {
	width: auto !important;
	min-width: inherit !important;
}
.block-account .my-accountnav {
	padding-top: 30px;
}
.block-account .my-accountnav strong span {
	font-family: "OpenSansSemibold", Arial;
	font-size: 18px;
	color: #000000;
	text-transform: capitalize;
}
.block-account .block-content .my-accountnav-list li {
	font-family: "OpenSansRegular", Arial;
	font-size: 15px;
	color: #606060;
	text-transform: capitalize;
}
.block-account .block-content .my-accountnav-list li a {
	font-family: "OpenSansRegular", Arial;
	font-size: 15px;
	color: #606060;
	text-transform: capitalize;
}
.block-account .block-content .my-accountnav-list li a:hover {
	text-decoration: none;
	color: #ff6600;
}
.block-account .block-content .my-accountnav-list li.current a strong, .block-account .block-content .my-accountnav-list li.last a strong {
	text-decoration: none;
	color: #ff6600;
}
.my-account-info {
	padding-top: 0;
}
.my-account-info .fieldset {
	margin-top: 20px !important;
}
.my-account-info .page-title {
	padding-left: 0 !important;
}
.my-account-info #wishlist-table.clean-table th {
	border-bottom: 3px solid #ff6600;
}
.my-account-info #wishlist-table.clean-table thead th {
	font-family: "OpenSansSemibold", Arial;
	font-size: 16px;
	color: #000000;
	text-transform: capitalize;
	padding-bottom: 10px;
}
.my-account-info .product-image {
	border: 1px solid #ededed;
	margin-top: 6px;
}
.my-account-info #wishlist-table .product-name a {
	font-family: "OpenSansRegular", Arial;
	font-size: 14px;
	color: #ff6600;
	text-transform: uppercase;
}
.my-account-info #wishlist-table .wishlist-sku {
	font-family: "OpenSansRegular", Arial;
	font-size: 14px;
	color: #717171;
}
.my-account-info #wishlist-table textarea {
	border: 1px solid #c0c0c0;
	font-family: "OpenSansRegular", Arial;
	font-size: 13px;
	height: 45px;
	width: 100%;
	resize: none;
}
.my-account-info #wishlist-table .item-manage {
	max-width: 450px;
	padding-top: 10px;
	text-align: left;
}
.my-account-info #wishlist-table .item-manage .button {
	font-family: "OpenSansRegular", Arial;
	color: #ffffff;
	font-size: 14px;
	padding: 3px 5px;
	background: #b2b2b2;
}
.my-account-info #wishlist-table .cart-cell {
	text-align: center;
	margin-top: 5px;
}
.my-account-info .btn-remove2 {
	width: 23px;
	height: 24px;
	margin-top: 5px;
	background: url(../images/del.png) no-repeat;
}
.my-account-info .btn-remove2:hover {
	width: 23px;
	height: 24px;
	background: url(../images/del_active.png) no-repeat;
	opacity: 1;
}
.my-account-back {
	margin-bottom: 20px;
}
.my-account-back .back-link a {
	background: none repeat scroll 0 0 #ff6600;
	color: #ffffff;
	font-family: "OpenSansRegular", Arial;
	font-size: 17px;
	padding: 5px 15px;
}
.my-account-back .back-link a:hover {
	background: #454545;
	text-decoration: none;
}
.my-account-back .back-link a:focus {
	text-decoration: none;
}
.my-bashboard {
	padding-top: 0;
}
.my-bashboard .page-title {
	padding-left: 0 !important;
}
.my-bashboard .welcome-msg {
	padding-top: 20px;
}
.my-bashboard .box-head {
	margin-top: 0;
	border-bottom: 3px solid #ff6600;
	padding-bottom: 7px;
}
.my-bashboard .box-head a {
	background: none repeat scroll 0 0 #ff6600;
	color: #ffffff;
	float: right;
	font-family: "OpenSansRegular", Arial;
	font-size: 15px;
	margin-top: 15px;
	padding: 2px 10px 5px;
	text-decoration: none;
	text-transform: capitalize;
}
.my-bashboard .box-head a:hover {
	background: #454545;
	text-decoration: none;
}
.my-bashboard .box-account {
	border-bottom: none !important;
	margin-bottom: 0 !important;
	padding-bottom: 10px !important;
}
.my-bashboard .col-1 {
	padding-top: 10px;
}
.my-bashboard .box-account p, .my-bashboard .box-account address {
	font-family: "OpenSansRegular", Arial;
	font-size: 14px;
	color: #717171;
	font-style: normal;
}
.my-bashboard .box-title h3 {
	font-family: "OpenSansSemibold", Arial;
	font-size: 14px;
	color: #000000;
	font-style: italic;
}
.my-bashboard .box-title a {
	background: none repeat scroll 0 0 #ff6600;
	color: #ffffff;
	font-family: "OpenSansRegular", Arial;
	font-size: 14px;
	top: 0 !important;
	padding: 0 5px !important;
	text-transform: capitalize;
}
.my-bashboard .box-title a:hover {
	background: #454545;
	text-decoration: none;
}
.my-account .edit-title {
	padding-top: 30px;
	padding-left: 0;
	padding-right: 0;
}
.my-account form .legend {
	margin: 0;
	margin-bottom: 10px;
	color: #ff6600;
	font-family: "OpenSansSemibold", Arial;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.4;
	text-rendering: optimizeSpeed;
	text-transform: capitalize;
	margin-bottom: 15px;
	padding-bottom: 7px;
	border-bottom: 1px solid #ededed;
}
.my-account .edit-part-button {
	padding-bottom: 20px;
}
.my-account .edit-part-button .back-link {
	line-height: normal !important;
}
.my-account .edit-part-button .back-link a {
	background: #ff6600 !important;
	border: 0 none !important;
	color: #ffffff !important;
	display: inline-block !important;
	font-family: "OpenSansBold", Verdana, Arial, sans-serif !important;
	font-size: 15px !important;
	font-weight: normal !important;
	line-height: 19px !important;
	padding: 6px 15px !important;
	text-align: center !important;
	text-transform: uppercase !important;
	vertical-align: middle !important;
	white-space: nowrap !important;
	margin: 0 !important;
}
.my-account .edit-part-button .back-link a:hover {
	text-decoration: none !important;
	background: #454545 !important;
}
.my-account .edit-part-button .back-link a:focus {
	text-decoration: none !important;
}
.my-account .edit-part-button .button {
	float: left;
	min-width: inherit;
	margin-left: 10px;
}
.fieldset p.editbox {
	float: none;
	font-size: 12px;
	margin-bottom: -20px;
	margin-top: 0;
	max-width: 364px;
	text-align: right;
	width: 100%;
}
.customer-account .col-main {
	float: right;
	margin-right: 10px;
	width: 77%;
}
.customer-account .col-main .page-title {
	padding-left: 0;
	padding-right: 0;
	padding-top: 30px;
}
.customer-account .col-main .my-account .pager-no-toolbar {
	margin: 10px 0 0 0;
	width: 100%;
	float: left;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.customer-account .col-main .my-account .pager-no-toolbar .count-container {
	float: right;
}
.customer-account .col-main .my-account .orders thead tr th {
	color: #000000;
	font-family: "OpenSansSemibold", Arial;
	font-size: 16px;
	line-height: 1.5;
	text-transform: capitalize;
	background: #fff;
	border-bottom: 3px solid #ff6600;
	padding-top: 40px;
}
.customer-account .col-main .my-account .orders tbody tr td {
	color: #717171;
	font-family: "OpenSansRegular", Arial;
	font-size: 14px;
	line-height: 1;
	text-transform: capitalize;
	background: #fff;
	border-bottom: none;
	vertical-align: middle;
}
.customer-account .col-main .my-account .orders tbody tr td.last {
	padding-right: 0;
}
.customer-account .col-main .my-account .orders tbody tr td.last .separator {
	display: none;
}
.customer-account .col-main .my-account .orders tbody tr td.last a {
	background: none repeat scroll 0 0 #ff6600;
	border: 0 none;
	color: #ffffff;
	display: inline-block;
	font-family: "OpenSansRegular", Arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 17px;
	padding: 5px 10px;
	text-align: center;
	text-transform: capitalize;
	vertical-align: middle;
	white-space: nowrap;
}
.customer-account .col-main .my-account .orders tbody tr td.last a:hover {
	background: #454545;
	text-decoration: none;
}
.customer-account .block-reorder .block-content #cart-sidebar-reorder li {
	display: block !important;
	clear: both !important;
	overflow: hidden !important;
}
.customer-account .block-reorder .block-content #cart-sidebar-reorder .checkbox {
	float: left;
	margin-top: 3px !important;
}
.customer-account .block-reorder .block-content #cart-sidebar-reorder .product-name {
	float: left;
	width: 80%;
	line-height: 1em !important;
}
.customer-account .block-reorder .block-content #cart-sidebar-reorder .product-name a {
	font-size: 12px;
	line-height: normal !important;
}
.customer-address-index .col-main .page-title .button {
	top: 20px !important;
	font-size:14px;
}
.customer-address-index .col-main .addresses-primary h2 {
	border-bottom: 1px solid #ededed;
	color: #ff6600;
	font-family: "OpenSansBold";
	font-size: 18px;
	font-weight: 600;
	margin: 0;
	padding-bottom: 3px;
	text-transform: uppercase;
}
.customer-address-index .col-main .addresses-primary h3 {
	color: #000;
	font-family: "OpenSansSemibold";
	font-size: 18px;
	font-weight: 600;
}
.customer-address-index .col-main .addresses-primary ol {
	margin-top: 20px;
}
.customer-address-index .col-main .addresses-primary ol li h3 {
	margin-top: 0;
}
.customer-address-index .col-main .addresses-primary li {
	color: #000;
	font-family: "OpenSansRegular";
	font-size: 14px;
}
.customer-address-index .col-main .addresses-primary li p .separator {
	display: none;
}
.customer-address-index .col-main .addresses-primary li p a {
	background: none repeat scroll 0 0 #ff6600;
	border: 0 none;
	color: #ffffff;
	display: inline-block;
	font-family: "OpenSansRegular", Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 19px;
	padding: 5px 10px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
}
.customer-address-index .col-main .addresses-primary li p a:hover {
	background: #454545;
	text-decoration: none;
}
.customer-address-index .col-main .addresses-additional h2 {
	border-bottom: 1px solid #ededed;
	color: #ff6600;
	font-family: "OpenSansSemibold";
	font-size: 18px;
	font-weight: 600;
	margin: 0;
	padding-bottom: 3px;
	text-transform: uppercase;
}
.customer-address-index .col-main .addresses-additional h3 {
	color: #000;
	font-family: "OpenSansSemibold";
	font-size: 18px;
	font-weight: 600;
}
.customer-address-index .col-main .addresses-additional ol {
	margin-top: 20px;
}
.customer-address-index .col-main .addresses-additional ol li h3 {
	margin-top: 0;
}
.customer-address-index .col-main .addresses-additional li {
	color: #000;
	font-family: "OpenSansRegular";
	font-size: 14px;
}
.customer-address-index .col-main .addresses-additional li p .separator {
	display: none;
}
.customer-address-index .col-main .addresses-additional li p a {
	background: none repeat scroll 0 0 #ff6600;
	border: 0 none;
	color: #ffffff;
	display: inline-block;
	font-family: "OpenSansRegular", Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 19px;
	padding: 5px 10px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
}
.customer-address-index .col-main .addresses-additional li p a:hover {
	background: #454545;
	text-decoration: none;
}
.customer-address-index .col-main .buttons-set .back-link {
	padding-bottom: 20px;
}
.customer-address-index .col-main .buttons-set .back-link a {
	background: none repeat scroll 0 0 #ff6600;
	color: #ffffff;
	font-family: "OpenSansRegular", Arial;
	font-size: 17px;
	padding: 5px 15px;
}
.customer-address-index .col-main .buttons-set .back-link a:hover {
	background: #454545;
	text-decoration: none;
}
.customer-address-index .col-main .buttons-set .back-link a:focus {
	text-decoration: none;
}
.customer-account .page-title a {
  background:#ff6600;
  border: 0 none;
  color: #ffffff;
  display: inline-block;
  font-family: "OpenSansRegular",Verdana,Arial,sans-serif;
  font-size: 14px;
  top:-29px !important;
  font-weight: normal;
  line-height: 19px;
  padding: 5px 10px;
  text-align: center;
  text-transform: capitalize;
  vertical-align: middle;
  white-space: nowrap;
}
.customer-account .page-title .separator {
	display:none;
}
.customer-account .page-title a:hover {
	background:#454545;
	text-decoration:none;
}
.customer-account .my-account .order-date {
	width:auto;
	float:right;
	margin-top:-33px;
	text-align:right;
	text-transform:capitalize;
    font-family: "OpenSansRegular",Verdana,Arial,sans-serif;
	font-size:16px;
	color:#000000;
}
.customer-account .my-account .order-date strong {
	text-align:right;
	text-transform:capitalize;
    font-family: "OpenSansSemibold",Verdana,Arial,sans-serif;
	font-size:16px;
	color:#000000;
}
.customer-account .my-account .order-info {
	font-family: "OpenSansRegular",Verdana,Arial,sans-serif !important;
	font-size:16px;
	color:#000000;
	font-weight:normal !important;
	margin-bottom:0 !important;
	border-bottom:3px solid #ff6600;
}
.customer-account .my-account .order-info-box .box-title {
	width:100% !important;
}
.customer-account .my-account .order-info-box .box-title h2 {
	font-family: "OpenSansSemibold",Verdana,Arial,sans-serif;
	font-size:14px;
	color:#000000;
	font-style:italic;
}
.customer-account .my-account .order-info dt {
	font-family: "OpenSansSemibold",Verdana,Arial,sans-serif;
	font-size:16px;
	color:#000000;
}
.customer-account .my-account .order-info dd ul#order-info-tabs li.current {
	font-family: "OpenSansRegular",Verdana,Arial,sans-serif;
	font-size:16px;
	color:#000000;
	font-weight:normal;
}
.customer-account .my-account .order-info dd ul#order-info-tabs li a {
background: none repeat scroll 0 0 #ff6600;
border: 0 none;
color: #ffffff;
display: inline-block;
font-family: "OpenSansRegular",Verdana,Arial,sans-serif;
font-size: 13px;
font-weight: normal;
line-height: 14px;
padding:2px 7px 3px 7px;
text-align: center;
text-transform: capitalize;
vertical-align: middle;
white-space: nowrap;	
}
.customer-account .my-account .order-info dd ul#order-info-tabs li a:hover {
	background:#454545;
	text-decoration:none;
}
.customer-account .my-account .order-info-box { 
	margin-top:0 !important; 
}
.customer-account .my-account .order-info-box .box-content {
	width:100% !important;
	font-family: "OpenSansRegular",Verdana,Arial,sans-serif;
	font-size:14px;
	color:#717171;
}
.customer-account .my-account .order-details .table-caption {
	font-family: "OpenSansBold",Verdana,Arial,sans-serif;
	font-size: 24px;
	color:#000000;
	text-transform:uppercase;
}
.customer-account .my-account .order-details .data-table th {
background: #ffffff;
font-family: "OpenSansSemibold",Arial;
font-size:16px;
color:#000000;
line-height: normal;
text-transform: capitalize;
white-space: nowrap;
border-bottom:3px solid #ff6600;
}
.customer-account .my-account .order-details .data-table tbody td, .customer-account .my-account .order-details .data-table tfoot td {
  background:#FFFFFF;
  color:#717171;
  font-size:14px;
  font-family:"OpenSansRegular",Verdana,Arial,sans-serif;
}
.customer-account .my-account .order-details .data-table tfoot tr.grand_total td {
  font-family: "OpenSansSemibold",Verdana,Arial,sans-serif;
  font-size: 20px;
  color:#ff6600;
}
.customer-account .my-account .order-details h2.sub-title {
font-family: "OpenSansSemibold",Arial;
font-size:24px;
color:#000000;
text-transform:capitalize;
}
.customer-account .my-account .order-details .order-comments h2.sub-title {
font-family: "OpenSansSemibold",Arial;
font-size:24px;
color:#000000;
text-transform:capitalize;
}
.customer-account .my-account .order-details .order-comments .order-about dt {
font-family: "OpenSansRegular",Arial;
font-size:15px;
color:#717171;
font-weight:normal;
}
.customer-account .my-account .order-details .order-comments .order-about dd {
font-family: "OpenSansRegular",Arial;
font-size:14px;
color:#717171;
}
.customer-account .my-account .buttons-set .back-link {
	padding-bottom:20px;
}
.customer-account .my-account .buttons-set .back-link a {
background: none repeat scroll 0 0 #ff6600;
color: #ffffff;
font-family: "OpenSansRegular",Arial;
font-size: 17px;
padding: 5px 15px;	
}
.customer-account .my-account .buttons-set .back-link a:hover {
	background:#454545;
	text-decoration:none;
}
.customer-account .my-account .buttons-set .back-link a:focus {
	text-decoration:none;
}
.customer-account .my-account .order-details .tracking-table tbody tr td {
	border-bottom:none;
	float:left;
	font-family: "OpenSansRegular",Arial;
}
.customer-account .my-account .order-details .tracking-table tbody tr td a {
	font-family: "OpenSansRegular",Arial;
}
.customer-account .my-account .order-details .tracking-table tbody tr th {
	border-bottom:none;
	float:left;
}
.sales-order-shipment .col-main .order-details .data-table tr.last td {
	border-bottom:none;
}	
.subcat {
	width:33%;
	display:inline-block;
	margin:0 0 4px 0;
	padding:10px;
	text-align:center;
	border:1px solid #f1f1f1;
}
.subcat .linkimage {
	width:100%;
	padding:10px;
	background:#fff;
}
.subcat img {
	width:100%;
}
.subcat h2 {
	padding-top:5px;
	width:100%;
}
.subcat:hover {
	border:1px solid #ff6600;
}
#categories .listing {
	padding-left:23px;
	padding-right:0;
	text-align:left;
}
.not_found_section {
	width:100%;
	float:left;
	margin:0;
	padding:10% 0;
	text-align:center;
}
.not_found_section .pic_404 {
	width:100%;
	float:left;
	margin:0;
	padding:0 0 4% 0;	
}
.not_found_section .pic_404 img {
	width:65%;
	max-width:348px;
}
.not_found_section .cont_404 {
	width:100%;
	float:left;
	margin:0;
	padding:0 0 15px 0;
	font-family:'OpenSansBold', Arial;
	font-size:22px;
	color:#000000;
}
.not_found_section .return_home {
	width:100%;
	float:left;
	margin:0;
	padding:0;	
	font-family:'OpenSansRegular', Arial;
	font-size:20px;
	color:#000000;
}
.not_found_section .return_home a {
	font-family:'OpenSansRegular', Arial;
	font-size:20px;
	color:#ff6600;
}
.customer-account-resetpassword .container { padding-top:20px !important; }
.customer-account-resetpassword .container .fieldset { margin:0 20px 20px 20px !important; }
.customer-account-resetpassword .container .buttons-set { margin:20px !important; }
.customer-account-resetpassword .container .buttons-set button.button {
  float: left;
  margin-left: 0;
  min-width: 140px;
}
.customer-account-resetpassword .container .fieldset p.required {
  display: block;
  float: none;
  font-size: 12px;
  margin-bottom: -19px;
  margin-top: 15px;
  max-width: 365px;
  text-align: right;
  width: 100%;
}
@media(min-width:320px) and (max-width:479px) {
#categories .listing {
	padding-left:15px;
	padding-right:15px;
	text-align:left;
}
.subcat {
	width:100%;
	display:inline-block;
	margin:0 0 10px 0;
	padding:10px;
	text-align:center;
	border:1px solid #f1f1f1;
}
.sorter {
	float: left;
	margin-bottom: 5px;
	width: 100%;
}
.sort-by .select-wrapper {
	width: 108px;
}
.product-view .add-to-cart .qty-wrapper, .product-view .add-to-cart .qty-wrapper {
	width: 100%;
}
.product-view .add-to-cart-buttons .button {
	float: left;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	min-width: 100px;
	padding: 0 15px;
	width: 100%;
}
.add-to-wish-list {
	float: left;
	margin: 0;
	padding: 0;
}
.add-to-wish-list button {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ff6600;
	color: #ff6600;
	float: left;
	font-family: "OpenSansBold";
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	text-transform: uppercase;
}
.cart-table .product-cart-info, .cart-table .product-cart-actions {
	border-right: 0;
	padding-left: 15px;
	vertical-align: middle;
}
.cart-table .product-cart-total, .cart-table .product-cart-price {
	border-right: 0;
	text-align: center;
	vertical-align: middle;
}
.store_locator_map {
	width: 100%;
	height: 200px;
}
.block-layered-nav .block-title {
	padding-left: 15px !important;
}
.block-layered-nav .currently {
	padding-left: 15px !important;
}
.block-layered-nav .actions {
	padding-left: 15px !important;
}
}

@media(min-width:480px) and (max-width:639px) {
#categories .listing {
	padding-left:15px;
	padding-right:7px;
	text-align:left;
}
.subcat {
	width:32%;
	display:inline-block;
	margin:0 0 4px 0;
	padding:10px;
	text-align:center;
	border:1px solid #f1f1f1;
}
.subcat h2 {
	font-size:13px;
}
.sorter {
	float: left;
	margin-bottom: 5px;
	width: 53%;
}
.sort-by .select-wrapper {
	width: 68px;
}
.cart-table .product-cart-info, .cart-table .product-cart-actions {
	border-right: 0;
	padding-left: 15px;
	vertical-align: middle;
}
.cart-table .product-cart-total, .cart-table .product-cart-price {
	border-right: 0;
	text-align: center;
	vertical-align: middle;
}
.store_locator_map {
	width: 100%;
	height: 200px;
}
}
@media(min-width:640px) and (max-width:767px) {
#categories .listing {
  padding-left: 16px;
  padding-right: 0;
  text-align: left;
}
.subcat {
  border: 1px solid #f1f1f1;
  display: inline-block;
  margin: 0 0 4px;
  padding: 10px;
  text-align: center;
  width: 32%;
}	
}
@media(min-width:480px) and (max-width:767px) {
.header_top_rgt .cart {
	background: url("../images/cart_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	color: #383838;
	display: inline-block;
	margin: 4px 0 0 10px;
	padding: 0 0 0 25px !important;
	text-transform: uppercase;
	vertical-align: top;
}
}

@media (min-width:320px) and (max-width:767px) {
.catalog-category-view .sidebar {
	padding-left:15px;
	padding-right:15px;
}
.catalog-category-view .category-products {
	width:100%;
	float:left;
	padding-left:15px;
	padding-right:15px;
}
.customer-address-index .col-main .addresses-list .item {
	float: left;
	padding-right: 30px;
	width: 100%;
}
.customer-account .col-left {
	width: 100%;
	float: left;
	margin-bottom: 0;
}
.customer-account .col-main {
	float: right;
	margin-right: 0;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}
.wishlist-index-index .col-main {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.wishlist-index-index .col-main .page-title h1 {
	text-align: center !important;
}
.wishlist-index-index .col-main .my-account-back {
	margin-left: 20px !important;
	margin-right: 20px !important;
}
.my-account .edit-title h1 {
	text-align: center !important;
}
.my-account .edit-fieldset {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0 !important;
}
.my-account .edit-fieldset .legend {
	text-align: center !important;
}
.fieldset p.editbox {
	float: none;
	font-size: 12px;
	margin-bottom: -20px;
	margin-top: 0;
	max-width: 100%;
	text-align: right;
	width: 100%;
}
.my-account .edit-fieldset .input-box .input-text {
	width: 100%;
}
.my-account .edit-part-button {
	margin-top: 0 !important;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 20px;
	padding-top: 20px !important;
	text-align: center;
	border-top: 1px solid #ededed !important;
}
.my-account .edit-part-button .back-link {
	display: inline-block !important;
	float: none;
	vertical-align: top;
}
.my-account .edit-part-button .button {
	display: inline-block;
	float: none;
	margin-bottom: 7px;
	margin-left: 0;
	margin-right: 0;
	width: auto;
}
.my-bashboard {
	padding-top: 10px;
}
.my-bashboard .page-title {
	padding-left: 0;
	padding-right: 0;
}
.my-bashboard .page-title h1 {
	font-size: 22px;
	text-align: center !important;
}
.my-bashboard .welcome-msg {
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}
.my-bashboard .box-account {
	border-bottom: medium none !important;
	margin-bottom: 0 !important;
	padding-bottom: 10px !important;
	padding-left: 0;
	padding-right: 0;
}
.my-bashboard .col-1 {
	margin-top: 0 !important;
	padding-top: 10px;
}
.my-bashboard .col-2 {
	margin-top: 0 !important;
	padding-top: 0;
}
.my-bashboard .box-title a {
	font-size: 12px;
	padding: 0 5px !important;
	right: 0 !important;
	text-transform: capitalize;
	top: 0 !important;
}
.my-bashboard .box-head a {
	background: none repeat scroll 0 0 #ff6600;
	color: #ffffff;
	float: right;
	font-family: "OpenSansRegular", Arial;
	font-size: 13px;
	margin-top: 21px;
	padding: 0 10px 3px;
	text-decoration: none;
	text-transform: capitalize;
}
.dashboard .col2-set .col-1, .dashboard .col2-set .col-2 {
	width: 100%;
	margin-top: 15px;
}
.dashboard .col2-set .col-1 .box-title a, .dashboard .col2-set .col-2 .box-title a {
	position: absolute;
	padding: 10px;
}
.block-account .block-content .my-accountnav-list {
	padding-left: 17px;
	padding-right: 10px;
}
.my-account-info .buttons-set {
	border-top: 1px solid #ededed;
	clear: both;
	margin: 10px 20px 0;
	padding-top: 10px;
	text-align: right;
}
.my-account-info #wishlist-table td.customer-wishlist-item-image {
	display: block;
	overflow: hidden;
	width: 100%;
}
.my-account-info .page-title h1 {
	font-size: 22px;
}
.my-account-info .fieldset {
	margin-top: 0 !important;
}
.my-account-info #wishlist-table.linearize-table tbody tr {
	margin-left: 20px;
	margin-right: 20px;
}
.my-account-info #wishlist-table.linearize-table tbody tr td.customer-wishlist-item-info {
	padding-top: 0;
	width: 100%;
}
.my-account-info #wishlist-table.linearize-table tbody tr td.customer-wishlist-item-quantity {
	padding-top: 0;
	width: 50%;
	float: left;
}
.my-account-info .linearize-table tbody td[data-rwd-label]:before {
	content: attr(data-rwd-label) ":";
	font-family: "OpenSansSemibold", Arial;
	font-size: 13px;
	color: #000000;
	padding-right: 5px;
	text-transform: uppercase;
	padding: 8px 0 0 0;
}
.my-account-info #wishlist-table td.customer-wishlist-item-quantity, #wishlist-table td.customer-wishlist-item-price {
	float: right;
	text-align: left;
	width: 50%;
	padding-top: 2px;
}
.my-account-info #wishlist-table .cart-cell {
	margin-top: 3px;
	text-align: center;
}
.registered-users {
	padding-top: 0 !important;
	width: 100% !important;
	border-left: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.registered-users .content h2 {
	font-size: 20px;
}
.registered-users .buttons-set {
	text-align: center !important;
	padding-top: 0 !important;
}
.registered-users .buttons-set .button {
	width: auto;
	min-width: inherit;
}
.registered-users .input-box .input-text {
	width: 100% !important;
}
.new-users {
	width: 100% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.new-users .content h2 {
	font-size: 20px;
}
.new-users .buttons-set {
	text-align: center !important;
	padding-top: 0 !important;
}
.new-users .buttons-set .button {
	width: 245px !important;
	min-width: inherit;
}
.qty-wrapper th {
	vertical-align: top !important;
}
.qty-wrapper td input {
	width: 116px !important;
}
.minicart-wrapper .block-content {
	margin-top: 20px !important;
	text-align: center !important;
}
.minicart-actions {
	text-align: center !important;
}
.checkout-types {
	padding-top: 15px !important;
}
.cms-page-view .std {
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.contact_right .form-list li .input-box {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.contact_right .form-list li label {
	width: 100%;
}
.contact_right .buttons-set {
	border-top: 0 none;
	float: left;
	margin-left: 0;
	margin-top: 0;
	max-width: 100%;
	width: 100%;
}
.contact_right .buttons-set label {
	float: left;
	height: 17px;
	margin: 0;
	padding: 0;
	width: 100%;
}
.contact_right .contact_info {
	border-top: 1px solid #cccccc;
	float: right;
	margin: 20px 0 0;
	padding: 0;
	width: 100%;
}
.contact_left {
	width: 100%;
	float: left;
	margin: 0;
	padding: 30px 0 20px 0;
}
.contact_right {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}
.news_events_list .news_pic {
	padding-left: 15px;
}
.news_events_list .news_title {
	padding-left: 0;
	padding-right: 0;
	font-size: 15px;
}
.news_events_list .news_time {
	padding-left: 0;
	padding-right: 0;
}
.news_events_list .news_details {
	padding-left: 0;
	padding-right: 0;
}
.news_events_list .news_read_more {
	padding-left: 0;
	padding-right: 0;
}
.news-title h1 {
	border-bottom: medium none;
	color: #000;
	font-family: "OpenSansBold";
	font-size: 17px;
	font-weight: 600;
	margin: 0;
	padding-bottom: 3px;
	text-transform: uppercase;
}
.news_events {
	padding: 0;
}
.button2 span, .button2 span span {
	color: #ff6600;
	display: inline-block;
	font-family: "OpenSansSemibold", Verdana, Arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
}
#discount-coupon-form .input-text, .cart .giftcard .input-text {
	border-radius: 0;
	height: 30px;
	margin: 4px 10px 10px 0;
	width: 190px;
}
.product-img-box .product-name h1 {
	border: 0 none;
	margin: 20px 0 0 0;
	text-align: center;
}
.product-view {
	float: left;
	margin: 0 2%;
	padding: 0;
	width: 96%;
}
#header-cart {
	position: static;
	right: 0;
	top: 34px;
	z-index: 999;
	background-color: #fff;
	padding: 15px 15px 10px 15px;
	border: 1px solid #cccccc;
	text-align: left;
	max-width: 360px;
	margin: 10px auto;
}
.col-main {
	width: 98%;
}
nav ul li {
	width: 100%;
	display: block !important;
	float: left !important;
	margin: 0;
	padding: 0 0 0 0;
	list-style: none;
	text-align: left;
}
nav ul li a {
	width: 100%;
	float: left;
	padding: 5px 3px 5px 15px !important;
	margin: 0 !important;
	border-bottom: 2px solid transparent;
	font-family: 'OpenSansSemibold', Arial;
	font-size: 14px;
	color: #4d4c4c !important;
	text-transform: uppercase;
	font-weight: bold;
}
nav ul li a:hover {
	text-decoration: none;
	color: #fff !important;
	background: #ff6600 !important;
	border-bottom: 2px solid transparent !important;
}
nav ul li a:focus {
	text-decoration: none;
	color: #fff !important;
	background: #d15502 !important;
	border-bottom: 2px solid transparent !important;
}
nav ul li.active a {
	text-decoration: none;
	color: #fff !important;
	background: #ff6600 !important;
	border-bottom: 2px solid transparent !important;
}
nav ul li.dropdown {
	padding: 0;
	margin: 0;
}
nav ul li.dropdown li {
	width: 100%;
	display: block;
	font-size: 12px;
	padding: 0;
	margin: 0;
}
nav ul li.dropdown:hover a {
	color: #fff !important;
	border-bottom: 2px solid transparent !important;
}
nav ul li.dropdown ul {
	width: 100% !important;
	float: left !important;
	border-top: 0 !important;
	border-bottom: 2px solid #ff812d !important;
	border-radius: 0 !important;
}
nav ul li.dropdown:hover li a {
	color: #4d4c4c !important;
}
nav ul li.dropdown li a {
	width: 100%;
	display: block;
	font-size: 12px;
	padding-left: 12px !important;
	padding-top: 5px !important;
	margin: 0;
	color: #4d4c4c !important;
}
nav ul li.dropdown li a {
	padding-left: 20px !important;
}
nav ul li.dropdown li a:hover {
	background: #e5e5e5 !important;
}
nav ul li.dropdown a:focus li a {
	border-bottom: 2px solid transparent !important;
}
nav ul li.dropdown a:hover li a {
	border-bottom: 2px solid transparent !important;
}
nav ul li.dropdown a:hover li a:hover {
	text-decoration: none;
	color: #4d4c4c !important;
	background: #e5e5e5 !important;
	border-bottom: 2px solid transparent !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: #d15502 !important;
	border-bottom: 2px solid transparent !important;
}
.featured_products h2 {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0 0 10px 0;
	font-family: 'OpenSansExtrabold', Arial;
	font-size: 20px;
	color: #000000;
	text-transform: uppercase;
	font-style: italic;
	border-bottom: 4px solid #ff6600;
}
.power_wear {
	width: 90%;
	max-width: 365px;
	height: 195px;
	float: none;
	margin: 23px auto;
	padding: 0;
	background: #ff6600 url(../images/banner_1.png) right 0 no-repeat;
	background-size: 100% 100%;
}
.power_parts {
	width: 90%;
	max-width: 365px;
	height: 195px;
	float: none;
	margin: 23px auto;
	padding: 0;
	background: url(../images/banner_2.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.spare_parts_kits {
	width: 90%;
	max-width: 365px;
	height: 195px;
	float: none;
	margin: 23px auto;
	padding: 0;
	background: url(../images/banner_3.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.spare_parts_kits h2 {
	clear: both;
	color: #fff;
	display: block;
	font-family: "OpenSansExtrabold", Arial;
	font-size: 25px;
	margin: 0;
	padding: 48px 0 19px 24px;
	text-transform: uppercase;
	width: 100px;
}
.header_top_lft {
	color: #a0a0a0;
	float: left;
	text-align: center;
	margin: 0;
	padding: 3px 0 0;
	width: 100%;
}
.header_top_rgt {
	float: left;
	text-align: center;
	margin: 0;
	padding: 5% 0 3% 0;
	width: 100%;
}
.header_top_rgt .cart {
	background: url("../images/cart_icon.png") no-repeat scroll 0 10px rgba(0, 0, 0, 0);
	color: #383838;
	display: inline-block;
	margin: 4px 0 0 10px;
	padding: 10px 0 0 25px;
	text-transform: uppercase;
	vertical-align: top;
}
.logo {
	float: left;
	margin: 20px 0 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
.search {
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #b3b3b3;
	border-radius: 30px;
	float: none;
	margin: 25px auto 0 auto;
	overflow: hidden;
	padding: 0 15px;
	position: relative;
	width: 254px;
}
.header_bottom_right {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}
.footer_top {
	text-align: center;
}
.site_links {
	float: left;
	list-style: outside none none;
	margin: 0;
	padding: 5px 0 40px 0;
	width: 100%;
}
.shopping_link {
	float: left;
	list-style: outside none none;
	margin: 0;
	padding: 5px 0 0 0;
	width: 100%;
}
.cookies_details {
	color: #989898;
	float: left;
	margin: 0;
	padding: 10px 0 50px 0;
	width: 95%;
}
.product-shop .product-name {
	display: none;
}
.product-primary .product-name {
	display: block !important;
}
.product-img-box .product-name {
	display: block;
}
.page-title h1, .page-title h2, .product-name h1, .product-name .h1 {
	border-bottom: 1px solid #ededed;
	color: #000;
	font-family: "OpenSansBold";
	font-size: 17px;
	font-weight: 600;
	margin: 0;
	padding-bottom: 3px;
	text-transform: uppercase;
}
.breadcrumbs {
	background: none repeat scroll 0 0 #e5e5e5;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	display: block;
	margin: 20px 15px;
	overflow: hidden;
	padding: 10px 10px 10px 15px;
}
.page-title {
	padding-left: 15px;
	padding-right: 15px;
}
.news-title {
	padding-left: 15px;
	padding-right: 15px;
}
.newsevents {
	clear: both;
	display: block;
	overflow: hidden;
	padding: 5px 15px 20px 15px;
}
.pager-no-toolbar {
	margin: 10px 15px 0 0;
}
.store_locator_left {
	width: 100%;
}
.store_locator_right {
	width: 100%;
}
.page_pd {
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.opc-messages {
	background-color: #fefefe;
	border-radius: 10px;
	box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	color: #404040;
	display: block;
	font-size: 16px;
	font-weight: normal;
	left: 50%;
	margin-left: -150px !important;
	margin-top: -20px;
	padding: 30px;
	position: absolute;
	text-align: left;
	top: 30%;
	width: 300px !important;
	z-index: 1002;
}
}

@media (min-width:480px) and (max-width:767px) {
.product-view .product-shop, .product-img-box, .product-collateral, .product-view .block-related, .box-collateral {
	margin-bottom: 15px;
	width: 98%;
	padding-left: 5px;
}
.product-shop .product-name {
	display: none;
}
.product-img-box .product-name {
	display: block;
}
.product-view .add-to-cart-buttons .button {
	float: left;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	min-width: 130px;
	padding: 0 22px;
	width: 100%;
}
}
@media (min-width:768px) and (max-width:799px) {
.catalog-category-view .col-main {
	margin-left:0;
}
.catalog-category-view .sidebar {
	padding-left:20px;
	padding-right:20px;
}
.catalog-category-view .category-products {
	padding-left:20px;
	padding-right:20px;
}
}
@media (min-width:768px) and (max-width:992px) {
.category-powerwear .col-main {
	margin-left:0;
}
.category-powerparts .col-main {
	margin-left:0;
}
.category-spare-parts .col-main {
	margin-left:0;
}
#categories .listing {
  padding-left: 20px;
  padding-right: 0;
  text-align: left;
}
.subcat {
  border: 1px solid #f1f1f1;
  display: inline-block;
  margin: 0 0 4px;
  padding: 10px;
  text-align: center;
  width: 32%;
}
.customer-account .col-main {
	float: right;
	margin-right: 0;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}
.customer-account .col-left {
	width: 100%;
	float: left;
	margin-bottom: 0;
}
.customer-account .col-main .my-account .orders tbody tr td.last {
	padding-right: 0;
	text-align: right;
	width: 30%;
}
.customer-account .box .box-title a {
	padding: 0;
	position: absolute !important;
	right: 0 !important;
}
.customer-account .data-table .a-center {
	min-width:130px !important;
}
.customer-account .data-table .status {
	min-width:130px !important;
}
body.customer-account .my-account .title-buttons {
  text-align: right;
}
}
@media (min-width:993px) and (max-width:1024px) {
.subcat {
  border: 1px solid #f1f1f1;
  display: inline-block;
  margin: 0 0 4px;
  padding: 10px;
  text-align: center;
  width: 32%;
}	
}
@media (min-width:768px) and (max-width:1199px) {
.products-list .product-shop .product-primary, .products-list .product-shop .desc {
  float: left;
  padding-right: 20px;
  width: 100%;
}
.products-list .product-shop .product-secondary {
  clear: both;
  float: left;
  text-align: left;
  width: 100%;
}
.registered-users .content h2 {
	font-size: 24px;
}
.new-users .content h2 {
	font-size: 24px;
}
.product-view .product-shop {
	float: left;
	width: 51%;
}
.product-img-box {
	float: left;
	width: 45%;
}
.product-view .add-to-cart .qty-wrapper label {
	font-size: 13px;
	line-height: 40px;
	text-transform: uppercase;
}
.product-view .add-to-cart-buttons .button {
	float: left;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	min-width: 120px;
	padding: 0 13px;
	width: 100%;
}
.add-to-wish-list button {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ff6600;
	color: #ff6600;
	float: left;
	font-family: "OpenSansBold";
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	padding: 0 13px;
	text-transform: uppercase;
}
.product-options-bottom {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #f4f4f4;
	border-color: -moz-use-text-color #cccccc #cccccc;
	border-image: none;
	border-right: 1px solid #cccccc;
	border-style: none solid solid;
	border-width: 0 1px 1px;
	margin-bottom: 10px;
	padding: 15px 10px !important;
}
.product-options-bottom .add-to-cart-buttons .button {
	float: left;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	min-width: 105px !important;
	padding: 0 9px !important;
	width: 100%;
}
.product-options-bottom .add-to-wish-list button {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ff6600;
	color: #ff6600;
	float: left;
	font-family: "OpenSansBold";
	font-size: 13px;
	height: 40px;
	line-height: 40px;
	padding: 0 9px !important;
	text-transform: uppercase;
}
}

@media (min-width:768px) and (max-width:1199px) {
.power_wear {
	width: 30%;
	height: 195px;
	float: left;
	margin: 23px 0 0 20px;
	padding: 0;
	background: #ff6600 url(../images/banner_1.png) right 0 no-repeat;
	background-size: 100% 100%;
}
.power_parts {
	width: 30%;
	height: 195px;
	float: left;
	margin: 23px 0 0 19px;
	padding: 0;
	background: url(../images/banner_2.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.spare_parts_kits {
	width: 30%;
	height: 195px;
	float: left;
	margin: 23px 0 0 19px;
	padding: 0;
	background: url(../images/banner_3.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.spare_parts_kits h2 {
	clear: both;
	color: #fff;
	display: block;
	font-family: "OpenSansExtrabold", Arial;
	font-size: 25px;
	margin: 0;
	padding: 48px 0 19px 24px;
	text-transform: uppercase;
	width: 100px;
}
.header_top_lft {
	color: #a0a0a0;
	float: left;
	margin: 0;
	padding: 3px 0 0;
	width: 57%;
}
.header_top_rgt {
	float: right;
	margin: 0;
	padding: 1% 0;
	text-align: right;
	width: 43%;
}
.logo {
	float: left;
	margin: 10px 0 0;
	padding: 0;
	width: 30%;
}
.search {
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #b3b3b3;
	border-radius: 30px;
	float: right;
	margin: 10px 0 0;
	overflow: hidden;
	padding: 0 15px;
	position: relative;
	width: 254px;
}
nav {
	float: left;
	margin: 10px 0 15px;
	padding: 0;
	width: 100%;
}
nav ul li {
	display: inline-block;
	list-style: outside none none;
	margin: 0;
	padding: 0 0 0 10px;
}
}
@media (min-width:1200px) {
.catalog-category-view .col-main .category-title {
	padding-left:0;
}
.catalog-category-view .col-main #categories .listing {
	padding-left:0;
}
}
