<div class="connect-withus">
	<div class="block-title"><?php echo $this->__("Connect With Us")?></div>
    <div class="social-link">
    	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('social')->toHtml()?>
    </div>
    <div class="footer-logo"> 
    	<a href="<?php echo $this->getUrl('') ?>"><img src="<?php echo $this->getSkinUrl('images/footer_logo.png') ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
    </div>
</div>