<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
    <h1><?php echo $this->__('My Gallery') ?></h1>
</div>
<div>
    <a href="<?php echo Mage::getUrl("mediagallery/customer/photo");?>">My Photos</a> |
    <a href="<?php echo Mage::getUrl("mediagallery/customer/video");?>">My Videos</a> 
    
</div>
<div>
    <h3><?php echo $this->__('Upload Media')?></h3>
    <form method="post" id="form-validate" enctype="multipart/form-data">
    <table width="100%" cellpadding="10">
        <tr><td width="30%">
        <label class="required" for="type"><em>*</em>Type</label></td><td width="70%"><input type="radio" name="type" value="0" class="validate-one-required"> Photo <input type="radio" name="type" value="1" class="validate-one-required"> Video </td></tr>
        
        <tr><td width="30%">
        <label class="required" for="type"><em>*</em>Visibility</label></td><td width="70%"><input type="radio" name="public_display" value="0" class="validate-one-required"> Private <input type="radio" name="public_display" value="1" class="validate-one-required"> Public </td></tr>
        
        <tr><td width="30%">
        <label class="required" for="type"><em>*</em>Category</label></td><td width="70%">
            <select name="category" class="select required-entry">
               <option value="">Select Category</option>
                <?php
                $customerData = Mage::getSingleton('customer/session')->getCustomer();
                $collection = Mage::getModel('gallery/category')->getCollection()
                ->addFieldToFilter("status",1)
                ->addFieldToFilter("user_id",$customerData->getId());
                
                foreach ($collection as $item)
				{
				   $category=$item->getData();
                ?>
                <option value="<?php echo $category['category_id'];?>"><?php echo $category['title'];?></option>
                <?php }?>
                
            </select> 
            
        </td></tr>
        
        <tr><td width="30%"><label class="required" for="title"><em>*</em>Title</label></td><td width="70%"><input type="text" class="required-entry input-text" name="title"/></td></tr>
        <tr><td width="30%"><label class="required" for="title"><em>*</em>Gallery File</label></td><td width="70%"><input type="file" class="required-entry input-text" name="galleryfile"/></td></tr>
        
        <tr><td width="30%">&nbsp;</td><td width="70%"><input type="submit" class="submit button" name="submit" value="Upload"/></td></tr>
    </table>
    
    </form>
</div>

<script type="text/javascript">
//<![CDATA[
var dataForm = new VarienForm('form-validate', true);

</script>