<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $photos = $this->getCollection(); ?>
<div class="page-title">
    <h1><?php echo $this->__('My Photos') ?></h1>
</div>

<?php echo $this->getPagerHtml(); ?>
<?php if($photos->getSize()): ?>
  <?php $_columnCount = $this->getColumnCount(); ?>
        <ul class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col">
        <?php $i=0; foreach ($photos as $item): ?>
           <?php $image= $item->getImage(); ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                
                <a href="#" class="product-image">
                    
                    <img id="product-collection-image-<?php echo $item->getId(); ?>"
                         src="<?php echo $this->resizeImg($item->getImage()); ?>"
                         alt="<?php echo $item->getTitle(); ?>" />
                </a>
                <div class="product-info">
                    <h2 class="product-name"><?php echo $item->getTitle(); ?></a></h2>

                    
                </div>
            </li>
          
        <?php endforeach ?>
    </ul>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>


<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('You have no photo.'); ?></p>
<?php endif ?>