<?php
$banners=$this->getCollection();
//echo $banners->count();
?>
<div class="banner-section">
		<div class="container">
            	<div class="col-sm-12 col-md-8 banner-slider">
                	<ul class="bxslider">
					  <?php foreach($banners as $slider){ ?>
                      <li><img src="<?php echo $this->resizeImg($slider->getImage(),600,400)?>" alt="<?php echo $slider->getTitle(); ?>" alt=""/></li>
                      <?php }?>
                      
                      
                    </ul>
                 <div class="controls">
                        <div class="prev" id="prevhome">Previous</div>
                    <div class="next" id="nexthome">Next</div>
                </div>
                </div>
                <div class="col-sm-12 col-md-4 categories">
                	<div class="cate-list">
                    	<a href="<?php echo $this->getUrl()."faucets.html";?>">
                    	<div class="cate-details sale">
                        	<div class="col-1"><span>20%</span> Sale</div>
                            <div class="col-2">Bathroom Faucets</div>
                        </div>
               	    	<img class="cate-pic" src="<?php echo $this->getSkinUrl('images/cat1.jpg') ?>" alt=""/>
                        </a>
                    </div>
                    <div class="cate-list">
                    	<a href="<?php echo $this->getUrl()."showers-jaccuzzis.html";?>">
                    	<div class="cate-details orange">
                        	<div class="col-1-new"><div><img class="new" src="<?php echo $this->getSkinUrl('images/new.png') ?>" alt=""/><span>Arrivals</span></div></div>
                            <div class="col-2">Bathroom Jacuzzis</div>
                        </div>
               	    	<img class="cate-pic" src="<?php echo $this->getSkinUrl('images/cat2.jpg') ?>" alt=""/>
                        </a>
                    </div>
                    <div class="cate-list">
                    	<a href="<?php echo $this->getUrl().'bathroom-accessories.html';?>">
                    	<div class="cate-details red">
                        	<div class="col-1-bestdeal"><img src="<?php echo $this->getSkinUrl('images/best-deal.png') ?>" alt=""/></div>
                            <div class="col-2">Bathroom Accessories</div>
                            <div class="col-3"><span>$ 120</span> Only</div>
                        </div>
               	    	<img class="cate-pic" src="<?php echo $this->getSkinUrl('images/cat3.jpg') ?>" alt=""/>
                        </a>
                    </div>
              </div>
        
                
                </div>

	</div>