<?php
$all_data1 = $all_data = $this->showFaq();
//$new_arr = array();
//foreach($all_data as $arr){
//    if(!in_array($arr['cat_id'],$new_arr)){
//        $new_arr[] = $arr['cat_id'];
//    }
//}
//foreach($new_arr as $each_category)
//{
//    //echo $each_category;
//    foreach($all_data as $each_data)
//    if($each_category==$each_data['cat_id']){
//        $one_arr[] = array('id'=>$each_data['id'],'ques'=>$each_data['question'],'cat_id'=>$each_data['cat_id']);
//        
//    }
//}
//echo "<pre>";print_r($one_arr);exit;
?>
<div class="page-title">
    <h1>FAQ</h1>
</div>
<div id="facacc">
<?php
foreach($all_data1 as $each_data)
{
?>
<div class="question"><h3><?php echo $each_data['question'];?> - <?php echo $each_data['cat_name'];?></h3></div>
<div class="answer"><?php echo $each_data['answer'];?></div>


<?php     
}
?>
</div>
